body{
    margin:0;
    
}
.div1{
    background-color: white;
    width:50%;
    height:100px;
    float:left;
    text-align: center;
}
.div2{
    background-color:white;
    width:50%;
    height:100px;
    float:left;
}
.list{
    padding: 20px;
}
li{
    display: inline;
    
    padding: 10px 16px;
}
.hov:hover{
    background-color: #c4f026;
}
#drp1{
    border: none;
}
#drp1:hover{
    background-color: #c4f026;
}
#drp2{
    border: none;
}
#drp2:hover{
    background-color: #c4f026;
}
.main{
    width: 80%;
    background-color:black;
    padding:5% 10%;
    display: inline-block;
    clear:both;
}
.sleft{
    float:left;
    width:32%;
   
   
}
.scenter{
    float:left;
    width:32%;
   
    margin-left: 2%;
}
.sright{
    float:left;
    width:32%;
   
    margin-left: 2%;
}

.d1h{
    width:94%;
    background-color:rgb(233, 227, 227);
    display:inline-block;
    text-align: center;
    padding:1% 3%;
    font-size: 20px;clear:both;
}
.d1{
    width:94%;
    background-color: beige;
    display: inline-block;
    text-align: center;
    padding:2% 3%;
}
.d1f{
    width:96%;
    background-color: rgb(156, 211, 75);
    display: inline-block;
    text-align: center;
    padding:2%;
    color:white;
    font-weight: bold;
}
.sub{
    width:80%;
    padding:4% 10%;
    display: inline-block;height:600px;
}
.left{
    width:49%;
    height:600px;
    float:left;
    position: relative;
    padding-right: 1%;
}
.right{
    width:49%;
    height:600px;
    float:left;
   
    padding-left:1%;
}
.stxtover{
    width:98%;
    position: absolute;
    top:62%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    padding: 10px 0px;
    color:white;
}
.btn1{
    background-color: white;
    color:rgb(59, 184, 59);
    border: 1px solid rgb(59, 184, 59);
   
    padding: 2px;
}
.exp{
    width:80%;
    padding:4% 10%;
    background-color: rgb(196, 196, 186);
    text-align: center;
    display: inline-block;clear:both;
}
.expleft{
    width:48%;
    height:160px;
    background-color: rgb(255, 136, 0);
    color:white;
    text-align: left;
    float:left;
    margin-right: 1%;
    margin-top:2%;
}
.expright{
    width:48%;
    height:160px;
    background-color: rgb(105, 223, 231);
    color:white;
    text-align: left;
    float:left;
    margin-left: 1%;
    margin-top:2%;
}
.footer{
    width:80%;
    padding:4% 10%;
    display: inline-block;
    background-color: rgb(94, 79, 79);clear:both;
    
}
.fooleft{
    width:32%;
    color: gainsboro;
    float:left;
    
}
.foocenter{
    width:32%;
    color: gainsboro;
    padding-left: 2%;
    padding-right: 2%;
    float:left;

}
.fooright{
    width:32%;
    color: gainsboro;
    float:left;
}
.list2{
    text-align: left;
    padding: 0%;
    list-style: none;
}
.li1{
    color: rgb(36, 252, 36);
    display: block;
    
}
.logo{
    background-color: black;
}
.cpy{
    width:80%;
    padding: 1% 10%;
    background-color: black;
    display: inline-block;
    clear: both;
    
}
.bottom{
    width: 100%;
    color:grey;           
    
}
/*.sfoo{
    background-color: black;

}*/